* {
  font-family: "Noto Sans TC", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

.todolist {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.header {
  background-color: #725fef;
  color: #fff;
  padding: 10px 20px 60px 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(114, 95, 239, 0.6);
          box-shadow: 0px 0px 10px rgba(114, 95, 239, 0.6);
  z-index: 2;
}

.header .date {
  font-size: 50px;
}

.header .date .week {
  font-size: 30px;
}

.header .title {
  font-size: 30px;
}

.progressArea {
  padding: 20px 20px;
}

.progressArea .progress_bar {
  height: 25px;
  width: 100%;
  border: solid #4286e9 3px;
  margin-bottom: 10px;
  padding: 2px;
  border-radius: 5px;
}

.progressArea .progress_bar .progress_status {
  width: 50%;
  height: 100%;
  background-color: #4286e9;
  border-radius: 3px;
}

.progressArea .progress_bar.danger {
  border: solid #ed4f4e 3px;
}

.progressArea .progress_bar.danger .progress_status {
  background-color: #ed4f4e;
}

.todosArea .todos {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  padding: 20px 20px;
  overflow: scroll visible;
}

.todosArea .todos .todo {
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  margin-bottom: 20px;
  position: relative;
}

.todosArea .todos .todo .todo_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.todosArea .todos .todo .todo_title {
  font-size: 20px;
}

.todosArea .todos .todo .status_area .status {
  background-color: #ed4f4e;
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todosArea .todos .todo .cancel {
  margin-left: 5px;
}

.todosArea .todos .todo .cancel .cancel_btn {
  width: 20px;
  height: 20px;
  background-color: #b2b2b2;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todosArea .todos .todo .cancel .cancel_btn .fas {
  font-size: 15px;
}

.todosArea .todos .todo .slide_area {
  height: 100%;
  width: 140px;
  background-color: blue;
  position: absolute;
  right: -140px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: underline;
}

.todosArea .todos .todo .slide_area.slide_control {
  right: 0px;
}

.todosArea .todos .todo .slide_area .delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ed4f4e;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.todosArea .todos .todo .slide_area .edit {
  background-color: #45FF99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.add_btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #700fee;
  position: fixed;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: white;
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 20;
}

.add_panel {
  width: 100%;
  height: 60vh;
  border-radius: 20px 20px 0 0;
  padding: 100px 0 0 0;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: calc(-60vh + 60px);
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.add_panel.extend {
  bottom: 0px;
  padding: 20px;
}

.add_panel .todo_status .btn {
  background-color: white;
  outline: none;
  color: white;
  padding: 6px 2px;
  margin: 20px 10px;
}

.add_panel .todo_status .btn:focus {
  border: solid 1px #4286e9;
}

.add_panel .todo_status .btn span {
  background-color: #4286e9;
  padding: 3px 20px;
  border-radius: 3px;
}

.add_panel .todo_status .btn.emergency span {
  background-color: #ed4f4e;
}

.add_panel .todo_status .btn.emergency:focus {
  border: solid 1px #ed4f4e;
}

.add_panel .todo_status .btn.pending span {
  background-color: #e87f52;
}

.add_panel .todo_status .btn.pending:focus {
  border: solid 1px #e87f52;
}

.mask {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(transparent 70%, rgba(255, 255, 255, 0.7));
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mask.active {
  background-color: rgba(255, 255, 255, 0.6);
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #d7d7d7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.datepicker {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 10px;
}

.datepicker.time {
  width: 55px;
}

.datepicker .swiper-container {
  width: 100%;
  height: 100%;
  background-color: #4286e9;
}

.datepicker .swiper-container.orange {
  background-color: #e87f52;
}

.datepicker .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide.swiper-slide-active h1 {
  font-size: 25px;
  color: white;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

::-webkit-scrollbar {
  display: none;
}
